######################################################################
# Build Tools

.gradle
build/
!gradle/wrapper/gradle-wrapper.jar

target/*
!.mvn/wrapper/maven-wrapper.jar

######################################################################
# IDE

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
*.iws
*.iml
*.ipr

### JRebel ###
rebel.xml

### NetBeans ###
nbproject/private/
build/*
nbbuild/
nbdist/
.nb-gradle/

######################################################################
# Others
*.log
*.xml.versionsBackup
*.swp

!*/build/*.java
!*/build/*.html
!*/build/*.xml

.flattened-pom.xml
.vscode/settings.json
.idea/
target/*
######################################################################
im_chat_backstage/ruoyi-admin/target/*
im_chat_backstage/.vscode/*
im_chat_backstage/ruoyi-common/ruoyi-common-core/target/*
im_chat_backstage/ruoyi-common/ruoyi-common-encrypt/target/*
im_chat_backstage/ruoyi-modules/ruoyi-system/target/*
im_chat_backstage/ruoyi-im/target/*
im_chat_backstage/ruoyi-common/ruoyi-common-translation/target/*
im_chat_backstage/ruoyi-common/ruoyi-common-tenant/target/*
im_chat_backstage/ruoyi-common/ruoyi-common-security/target/*
im_chat_backstage/ruoyi-common/ruoyi-common-log/target/*
im_chat_backstage/ruoyi-common/ruoyi-common-idempotent/target/*
im_chat_backstage/ruoyi-common/ruoyi-common-social/target/*
im_chat_backstage/ruoyi-common/ruoyi-common-ratelimiter/target/*
im_chat_backstage/ruoyi-common/ruoyi-common-mybatis/target/*
im_chat_backstage/ruoyi-common/ruoyi-common-message/target/*
im_chat_backstage/ruoyi-common/ruoyi-common-satoken/target/*
im_chat_backstage/ruoyi-common/ruoyi-common-websocket/target/*
im_chat_backstage/ruoyi-modules/ruoyi-generator/target/*
im_chat_backstage/ruoyi-common/ruoyi-common-sms/target/*
im_chat_backstage/ruoyi-common/ruoyi-common-excel/target/*
im_chat_backstage/ruoyi-common/ruoyi-common-web/target/*
im_chat_backstage/ruoyi-common/ruoyi-common-dynamic-datasource/target/*
im_chat_backstage/ruoyi-common/ruoyi-common-swagger/target/*
im_chat_backstage/ruoyi-common/ruoyi-common-doc/target/*
im_chat_backstage/ruoyi-common/ruoyi-common-redis/target/*
im_chat_backstage/ruoyi-common/ruoyi-common-sse/target/*
im_chat_backstage/ruoyi-common/ruoyi-common-core/target/*
im_chat_backstage/ruoyi-common/ruoyi-common-encrypt/target/*
im_chat_backstage/ruoyi-common/ruoyi-common-json/target/*
im_chat_backstage/ruoyi-common/ruoyi-common-minio/target/*
im_chat_backstage/ruoyi-common/ruoyi-common-mail/target/*
im_chat_backstage/ruoyi-common/ruoyi-common-sensitive/target/*
im_chat_backstage_ui/node_modules
im_chat_backstage_ui/dist
im_chat_backstage_ui/.DS_Store

######################################################################
im_chat_server/.idea/
im_chat_server/box-im.iml
im_chat_server/im-server/im-server.iml
im_chat_server/im-platform/im-platform.iml
im_chat_server/im-client/im-client.iml
im_chat_server/im-common/im-common.iml


im_chat_server/target/*
.vscode/settings.json

im_chat_server/im-client/target/*
im_chat_server/im-server/target/*
im_chat_server/im-common/target/*
im_chat_server/im-server/target/*
im_chat_server/im-platform/target/*
######################################################################
im_chat_uniapp/.idea/
im_chat_uniapp/node_modules/
im_chat_uniapp/package-lock.json
im_chat_uniapp/unpackage/*
im_chat_uniapp/yarn.lock
im_chat_uniapp/im-web/node_modules/*
im_chat_uniapp/.vscode/settings.json
######################################################################
im_chat_web/.idea/
im_chat_web/package-lock.json
im_chat_web/node_modules/*
im_chat_web/.vscode/settings.json
im_chat_web/dist/*
######################################################################
im-red-package/target/*
im-red-package/.idea/
######################################################################
im-webview-private-rtc/node_modules/*
im-webview-private-rtc/.vscode/settings.json
######################################################################
im-webview-group-rtc/node_modules/*
im-webview-group-rtc/.vscode/settings.json
######################################################################