<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bx.implatform.mapper.UserMatchRecordMapper">
    
    <select id="getUnviewedUsers" resultType="java.lang.Long">
        SELECT u.id
        FROM im_user u
        WHERE u.id != #{userId}
          AND u.status = 0
          AND u.is_banned = 0
          AND u.id NOT IN (
              SELECT target_user_id
              FROM im_user_match_record
              WHERE user_id = #{userId}
          )
        ORDER BY RAND()
        LIMIT #{limit}
    </select>
    
</mapper>
